@media (max-width: 640px) {
  input {
    display: none;
  }
  
  .open {
    background-color: #F9CC2E;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 1rem;
  }
  
  .open:before {
    content: "";
    background-color: #F9CC2E;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: #F9CC2E;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .close {
    font-size: 2rem;
    color: #CBCBCB;
    position: absolute;
    right: 3rem;
    font-weight: 600;
  }

  .menu-content {
    display: none;
  }

  .active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0F0E17;
    z-index: 1000;
    left: 0;
    padding: 2rem 2rem 0 2rem;
  }

  .menu-content > ul {
    margin: 4rem 0 4rem 0;
  }

  .menu-content > ul > li {
    padding: 1rem;
  }

  .menu-content > ul > li > a{
    font-size: 1.5rem;
    color: #CBCBCB;
  }

  .menu-content > ul > li > a:hover{
    color: #F9CC2E;
  }

  .social-bar-toggle {
    text-align: center;
  }
  
  .social-bar-toggle > li{
    display: inline-block;
    margin-right: 0.675rem;
  }
  
  .social-bar-toggle > li:last-child {
    padding-right: 0;
  }
  
}